
#board_header td {
    font-size:10px;
    height:20px;
    max-height:20px;
}

#generics {
    padding-top: 34px;
}

#taskboard .issue.rowelement {
  -moz-box-shadow: 2px 2px 2px #CCCCCC;
  -webkit-box-shadow: 2px 2px 2px #CCCCCC;;
  box-shadow: 2px 2px 2px #CCCCCC;;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEE), to(#FD2));
  background: -moz-linear-gradient(top, #FEE, #FD2);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#FFEEEE,EndColorStr=#FFDD22);
  background-color:#F8F6A5;
  border:none;
  display:block;
  float:left;
  font-size:10px;
  min-height:80px;
  margin:5px;
  padding:5px;
  position:relative;
  width:190px;
}

#taskboard .issue.rowelement .id,
.issue.rowelement .subject.editable {
    width: 180px;
}

#taskboard .issue {
    cursor: default;
}
#taskboard .issue.sortable {
    cursor: move;
}

#generics td {
    position: relative;
}
.addbutton {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    /*border: 1px solid black;*/
    cursor: pointer;
}

#detail_slider {
    width: 60px;
    margin-right: 8px;
    display: inline-block;
}

#taskboard.detaillevel-1 .issue.rowelement,
#taskboard.detaillevel-1 .issue,
#taskboard.detaillevel-1 .placeholder {
    position: relative;
    height: 30px;
    min-height: 30px;
    overflow: hidden;
}
#taskboard.detaillevel-1 .issue .subject {
    height: 24px;
    position: relative;
    z-index: 100;
    top: -1.5em;
}
#taskboard.detaillevel-1 .issue .id,
#taskboard.detaillevel-1 .placeholder .id,
#taskboard.detaillevel-1 .issue.rowelement .id {
    z-index: 110;
    position: relative;
    width: 32px;
    float: right;
}

#taskboard.detaillevel-0 .issue.rowelement,
#taskboard.detaillevel-0 .issue,
#taskboard.detaillevel-0 .placeholder {
    position: relative;
    height: 14px;
    min-height: 14px;
    overflow: hidden;
}
#taskboard.detaillevel-0 .issue,
#taskboard.detaillevel-0 .placeholder {
    width: 32px;
}
#taskboard.detaillevel-0 .issue.rowelement {
    width: 190px;
}
#taskboard.detaillevel-0 .issue .subject {
    height: 12px;
    overflow: hidden;
    position: relative;
}
#taskboard.detaillevel-0 .issue .id,
#taskboard.detaillevel-0 .placeholder .id,
#taskboard.detaillevel-0 .issue.rowelement .id {
    display: none;
}

.issue .project {
    text-align: left;
}
